---
---
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Body Fitness</title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  <header class="header">
    <nav class="titulo">
      <h1><span class="red">BODY</span> FITNESS</h1>
      <ul>
        <li><a href="#">Membresías</a></li>
        <li><a href="#">Beneficios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <section class="home">
      <h1>CONSTRUYE <br>
        <span class="red">TU IMAGEN</span></h1>
      <p>En Body Fitness, te ayudamos a alcanzar tus metas con entrenamientos<br>
        personalizados y el apoyo de entrenadores expertos. Únete y transforma<br>
        tu vida en un ambiente motivador y profesional.</p>
    </section>

    <section class="pricing">
      <h1>ELIGE LA MEMBRESIA  <span class="red">PERFECTA PARA TI</span></h1>
      <h2>MEMBRESIAS INDIVIDUALES</h2>
      <div class="plans">
        <div class="plan">
          <h3>Inscripción</h3>
          <h2>$200</h2>
          <p>Cuota única requerida<br>
            para nuevos miembros,<br>
            válida para activar<br>
            cualquier membresía</p>
        </div>
        <div class="plan">
          <h3>Normal</h3>
          <h2>$450</h2>
          <p>Acceso completo y libre<br>
            al gimnasio</p>
        </div>
        <div class="plan">
          <h3>Estudiantes</h3>
          <h2>$400</h2>
          <p>Para estudiantes con <br>
            credencial vigente</p>
        </div>
        <div class="plan">
          <h3>Cobro automático</h3>
          <h2>$300</h2>
          <p>Cargo direccionado a tu <br>
            tarjeta para mayor <br>
            comodidad</p>
        </div>
        <div class="plan">
          <h3>Quincenal</h3>
          <h2>$250</h2>
          <p>Acceso completo al <br>
            gimnasio por dos semanas</p>
        </div>
      </div>
      
      <h2>PAQUETES ESPECIALES</h2>
      <div class="plans">
        <div class="plan">
          <h3>Inscripción de grupo</h3>
          <h2>$150</h2>
          <p>Inscripcion con descuento<br>
            para grupos que se <br>
            inscriben juntos</p>
        </div>
        <div class="plan">
          <h3>Parejas</h3>
          <h2>$700</h2>
          <p>Membresía mensual para dos<br>
            personas, ideal para entrenar  <br>
            juntos</p>
        </div>
        <div class="plan">
          <h3>3 Personas</h3>
          <h2>$1050</h2>
          <p>Membresía grupal mensual<br>
            para tres personas con   <br>
            acceso completo</p>
        </div>
      </div>
    </section>

    <section>
      <h2><span class="red">BENEFICIOS</span> Y SERVICIOS</h2>
      <div class="plans">
        <div class="benefits">
          <h3>Acceso libre al gimnasio</h3>
          <p>Entrena sin restricciones durante<br>
            nuestros horarios operativos.<br>
            Beneficio incluido en todas las <br>
            membresías</p>
        </div>
        <div class="benefits">
          <h3>APOYO CONSTANTE DEL <br>
            ENTRENADOR</h3>
          <p>Entrenadores disponibles en <br>
            horarios específicos:<br>
            Matutino: 07:30 – 11:00 hrs <br>
            Vespertino: 14:00 – 22:00 hrs</p>
        </div>
        <div class="benefits">
          <h3>RUTINA PERSONALIZADA</h3>
          <p>Planes de entrenamiento  <br>
            adaptados a tus metas y <br>
            capacidades</p>
        </div>
      </div>
<br>
      <div class="plans">
        <div class="benefits">
          <h3>PLAN NUTRICONAL<br>
            COMPLETO</h3>
          <p>Mantén una alimentación <br>
            saludable y deliciosa con un plan <br>
            hecho a tu medida</p>
        </div>
        <div class="benefits">
          <h3>MONITOREO DE PROGRESO <br>
            CONSTANTE</h3>
          <p>Seguimos de cerca tus avances <br>
            para ayudarte a lograr tus <br>
            objetivos</p>
        </div>
        <div class="benefits">
          <h3>ACCESO A LA APP DE <br>
            ENTRENAMIENTO</h3>
          <p>Lleva tus rutinas y progreso en tu  <br>
            teléfono para más comodidad </p>
        </div>
      </div>
<br>
    <div class="plans">
      <div class="benefits">
        <h3>ORIENTACIÓN EN <br>
          SUPLEMENTACIÓN</h3>
        <p>Te asesoramos sobre el uso <br>
          adecuado de suplementos para <br>
          maximizar tus resultados </p>
      </div>
      <div class="benefits">
        <h3>WI-FI GRATIS EN LAS <br>
          INSTALACIONES</h3>
        <p>Conéctate sin costo mientras  <br>
          entrenas</p>
      </div>
    </div>
    </section>

    <section class="direccion">
      <h1>ACÉRCATE A <span class="red">BODY FITNESS</span></h1>
      <h3>Ubicación</h3>
      <h3>Horarios de atención</h3>
      <h3>Contáctanos</h3>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2024 Body Fitness. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
